And with that, the 2025 Dahlia Duke-Out comes to a conclusion!  We had 71 folks participate in the festivities this year, which is a 40% improvement over last year.

After many days of hard fought battles, the final victor is "PM Marsha", originated by Alan Arrington.  With scores of 30-21, 24-19, 33-19, 32-17 and 29-18, "PM Marsha" had what it takes to come out on top.  The descriptive text for this bloom was:

    Alan Arrington introduces this ball dahlia with such a pleasing blend of purple and lavender that you'll be adding this blend to your own wardrobe.  Note how each petal of PM Marsha rolls obediently to achieve a hybridizer's dream ball form.

Like any sporting event, this one generates many statistics of note.  In particular, it's interesting to see which users were most accurate in judging the will of the people.

Here are the people who picked the winner in at least 18 of the 31 days, who can claim bragging rights for the rest of the year:

Audrey                  24  of  31
Bonnie Providenza       22  of  31
Virgil                  22  of  30
Barry Oster             22  of  29
Mike Kangas             21  of  31
Basketquilt             21  of  31
Omik                    21  of  25
Julie Moore             20  of  31
Tiffany Jacob           19  of  28
Christine Hendrick      19  of  28
-                       18  of  31
Terry Schroeder         18  of  30
Anita L. Knapp          18  of  30
Jan Hill                18  of  29
Barbara Cournia         18  of  25
Cherise Hylton          18  of  24

Another item of statistical interest involves the witty descriptive prose you saw every day.  This was contributed by a number of helpful volunteers, and I am very grateful for their assistance.  On the off chance their prose contributed to wins, here is a list of how many times each prose writer produced a winning entry:

9 for John Providenza
7 for Laura
6 for Bonnie Providenza
5 for Ellen Rogers
4 for Jordan Garman

I hope this was as fun for you as it is for me, and I hope to contact you all again next spring.
-- 
Tim Roberts, timr@probo.com
