You're receiving this message as a member of the Portland Dahlia Society.

If the NCAA can have March Madness, then the Portland Dahlia Society can have a "Dahlia Duke-Out". This is a contest run strictly for fun to decide a "People's Choice" winner from the 32 entries with the highest test garden scores in the "Best of 2024" list. Starting this Tuesday, April 15, two entries from the list will be pitted against each other. You, the people, will vote on which one you like. The winners of the first round will then be pitted against each other, until we run through the Elite Eight, the Final Four, and the Championship round on May 15.  This will be the fourth year for this competition.

The contest is organized and operated by my former business partner, Tim Roberts.  He works hard to put this together and has been diligent to avoid leaking email addresses or spamming people.

Voting runs each day from 6 AM until 2 AM. In order to vote, you must register and get a username. We do that to restrict the voting to one vote per person, because the stakes are so high. To register for the 2025 Dahlia Duke-out, go to https://timr.4roberts.us/dahlia/register.php to fill out the simple entry form.

The username can be whatever you want, as long as it is not already taken. We also need your email address, so we can notify you of any issues and to send you a reminder every day of the contest. Your email would probably make a good username, since you can remember it easily.  You will receive a reminder every day to go check for the new game.

Want more information?  Visit https://timr.4roberts.us/dahlia/ .

I hope you enjoy the contest and may the best dahlia win!

Good luck!
-- 
John Providenza
