body {
    background-color: #ffccff;
    font-family: Source Serif 4, Times, serif;
    font-size: 125%;
}

div.body {
    width: 1024px;
    margin: 50px 0 0 20em;
}

table.bulb {
    width: 500px;
    height: 120px;
    border: 3px solid blue;
    margin-bottom: 5px;
    padding: 3px;
}

div.descr{
    float: left;
    margin-left: 15px;
    height: 120px;
}

div.vote {
    vertical-align: middle;
}

span.name {
    font-size: 150%;
    font-weight: bold;
}

div.bulb-image {
    width: 112px;
    text-align: center;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

td.one table.bulb {
}

td.two {
    vertical-align: top;
    padding: 0;
}

td.two table.bulb {
    margin: 73px 0 50px 0;
}

td.three {
    vertical-align: top;
    padding: 0;
}

td.three table.bulb {
    margin: 205px 0 190px 0;
}

td.four {
    vertical-align: top;
    padding: 0;
}

td.four table.bulb {
    margin-top: 480px;
}

p.indent {
    margin-left: 4ex;
}

.left {
    float: left;
}

.right {
    float: right;
}

img.right {
    margin: 0 0 10px 10px;
    float: right;
}

img.left {
    margin: 0 10px 10px 0;
    float: left;
}

button.bigbtn {
    width: 90px;
    height: 60px;
    font-size: 150%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
}
